@import views.view_application.helpers.ViewApplicationType
@import views.view_application.ViewApplicationHelper._
@import views.html.view_application.helpers._
@import views.view_application.subviews.SubviewIds
@import views.view_application.helpers.SubViewTemplateHelper._
@import contents._
@import services.DataCacheKeys._

@(someHeading: Option[String],
        someModel: Option[models.GroupMembers]
)(implicit viewApplicationType: ViewApplicationType, request:Request[AnyContent], messages : Messages)

@wrapperId = @{
    SubviewIds.groupMemberDetailsId
}

@editUrl(id: Int) = @{
    controllers.routes.GroupMemberController.showMemberDetails(id, false, false).url
}

@getHeading(heading: String, model: models.GroupMembers) = @{
    model.members.isEmpty match {
        case true => heading
        case _ => f"$heading (${model.members.size})"
    }
}

@addLinkHref(model: models.GroupMembers) = @{
    controllers.routes.GroupMemberController.showMemberDetails(model.members.length + 1, isLinearMode = false, isNewRecord = true).url
}

@ledeAndTopAdd(model: models.GroupMembers) = {
    @if(isSectionEdit) {
        <p id="group-member-lead-paragraph" class="lede">@Messages("awrs.group_member.lead_paragraph")</p>
        @if(model.members.size > 1) {
            <div class="add-link-top">@add_none_table_link_helper(isSectionEdit)("top", addLinkHref(model), Messages("awrs.view_application.group"))</div>
        }
    }
}

@bottomAdd(model: models.GroupMembers)  = {
    @add_none_table_link_helper(isSectionEdit)("bottom", addLinkHref(model), Messages("awrs.view_application.group"))
}

@content(model: models.GroupMembers) = {
    @model.members.zipWithIndex.map { case (member, id) =>
        @content_group_member(member, id + 1)
    }
}

@(someHeading, someModel) match {
    case (Some(heading), Some(model)) => {
        @subview_core(getHeading(heading, model), wrapperId, sectionName = groupMembersName)(content(model), preContent = ledeAndTopAdd(model), postContent = bottomAdd(model))
    }
    case _ => {}
}
