@(params: views.subtemplates.application_status.ApplicationApprovedWithConditionsParameter, printFriendly: Boolean = false)(implicit request: Request[AnyRef], messages: Messages )
@import views.html.helpers._
@import views.helpers._
<div class="form-group">
    <div>
        <h2 class="heading-medium">@Messages("awrs.application_status.info.approved_with_conditions.heading")</h2>
    </div>
    @Html(params.statusInfo.secureCommText)
    @printFriendly match {
        case false => {@awrsStatusPageSignInPara(messages)}
        case true => {}
    }
</div>
@printFriendly match {
    case false => {
        <div class="form-group print-hidden">
            @awrsAnswerQuestionHelper(
                QuestionAnswerParameters(
                    Messages("awrs.application_status.decision_question"),
                    "awrsStatusDecision"
                )
            )
        </div>
    }
    case true => {}
}