@(params: views.subtemplates.application_status.ApplicationMindedToRevokeParameter, printFriendly: Boolean = false)(implicit request: Request[AnyRef], messages: Messages )
@import views.html.helpers._
@import views.helpers._
<div class="form-group">
    <div>
        <h2 class="heading-medium">@Messages("awrs.application_status.info.minded_to_revoke.heading")</h2>
    </div>
    @Html(params.statusInfo.secureCommText)
    @printFriendly match {
        case false => {@awrsStatusPageSignInPara(messages)}
        case true => {}
    }
</div>