@import controllers.util.UnSubmittedChangesBannerParam
@(param: Option[UnSubmittedChangesBannerParam], incompleteMessage: Option[String] = None)(implicit messages: Messages)
@bannerClass = @{
    param match {
        case Some(ucParam) => {
            ucParam.allSectionComplete match {
                case true => "complete"
                case false => "incomplete"
            }
        }
        case None => {}
    }
}
@param match {
    case Some(ucParam) => {
        <div class="grid grid-3-3 banner-@bannerClass print-hidden" id="changes-banner">
            <div class="grid grid-3-3">
                <div class="inner-block">
                    @ucParam.allSectionComplete match {
                        case true => { @Messages("awrs.index_page.not_submitted_changes") }
                        case false => { @incompleteMessage }
                    }
                </div>
            </div>
        </div>
    }
    case None => {}
}