@(printFriendly: Boolean = false)(implicit message : Messages)
<p>@Messages("awrs.index_page.changes.answer.para_1")</p>

<ul class="list-bullet">
    <li>@Messages("awrs.index_page.changes.answer.bullet_list_1.point_1")</li>
    <li>@Messages("awrs.index_page.changes.answer.bullet_list_1.point_2")</li>
    <li>@Messages("awrs.index_page.changes.answer.bullet_list_1.point_3")</li>
    <li>@Messages("awrs.index_page.changes.answer.bullet_list_1.point_4")</li>
    <li>@Messages("awrs.index_page.changes.answer.bullet_list_1.point_5")</li>
    <li>@Messages("awrs.index_page.changes.answer.bullet_list_1.point_6")</li>
</ul>
<p>@Messages("awrs.index_page.changes.answer.para_2")</p>
@printFriendly match {
    case true => {
        <p>@Messages("awrs.index_page.changes.answer.para_3_link") @Messages("awrs.index_page.changes.answer.para_3")</p>
    }
    case false => {
        <p><a id="inform-us-link" href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#approval-details-change">@Messages("awrs.index_page.changes.answer.para_3_link")</a> @Messages("awrs.index_page.changes.answer.para_3")</p>
    }
}

