@(someRadioField: Option[Field],
inputField: Field,
youOrThey: String,
crnAndDate: Boolean = true,
dateField: Option[Field] = None,
ariaLabelledBy: Option[String] = None,
formHasErrors: Boolean = false)(implicit formInstance: Option[Form[_]] = None, messages: Messages)

@import views.helpers.InputTypeRadioGroupParams
@import play.api.i18n._
@import views.html.helper._
@import views.html.helpers._
@import views.helpers.InputTypeTextParams
@import views.helpers.DateHelperParams
@import views.helpers.QuestionAnswerParameters

@iDoNotKnowCRNHintQuestion = @{
    youOrThey match {
        case "they" => Messages("awrs.generic.iDoNotKnowTheirCRN_question")
        case _ => Messages("awrs.generic.iDoNotKnowMyCRN_question")
    }
}

@iDoNotKnowCRNHintAnswer = @{
    youOrThey match {
        case "they" =>  Html(Messages("awrs.generic.iDoNotKnowTheirCRN_text","<br><br>"))
        case _ => Html(Messages("awrs.generic.iDoNotKnowMyCRN_text","<br><br>"))
    }
}

@hintText = {
    <span aria-hidden="true">@Messages("awrs.generic.date_hint")</span><span class="visuallyhidden">@Messages("awrs.generic.date_hint.reader")</span>
}

@ariaDayMonthYear = {
    @dateField match {
        case Some(someDateField) => {
            <span id="@someDateField.name-day_reader" class="visuallyhidden" aria-hidden="true">@Messages("awrs.generic.date_day.reader")</span>
            <span id="@someDateField.name-month_reader" class="visuallyhidden" aria-hidden="true">@Messages("awrs.generic.date_month.reader")</span>
            <span id="@someDateField.name-year_reader" class="visuallyhidden" aria-hidden="true">@Messages("awrs.generic.date_year.reader")</span>
        }
        case _ => {}
    }
}

@isDateField(withQuestion : Boolean) = @{
    val wrapperClassSetting : Option[String] =
        withQuestion match {
            case true => Some("panel-indent")
            case false => None
        }

    dateField match {
        case Some(someDateField) =>
            awrsDateField(
                DateHelperParams(
                    formItem = formInstance.get,
                    fieldName = someDateField.name,
                    label = Some(Html(Messages("awrs.generic.date_of_incorporation"))),
                    hintText = hintText,
                    hintTextId  = "doi-information",
                    ariaDayMonthYear = ariaDayMonthYear,
                    wrapperClass = wrapperClassSetting,
                    ariaLabelledBy = someDateField.name+"-legend"
                )
            )
        case _ =>
    }
}

@core(withQuestion : Boolean) = @{
    val wrapperClassSetting : Option[String] =
        withQuestion match {
            case true => Some("panel-indent")
            case false => None
        }

    val mainInput = awrsInputTypeText(
        InputTypeTextParams(
            inputField,
            parentForm = formInstance,
            inputId = inputField.name,
            maxLength = frontendDefaultLen,
            wrapperClass = wrapperClassSetting,
            label = Messages("awrs.generic.company_reg"),
            required = true,
            labelHighlight = true,
            formHint = Messages("awrs.generic.do_you_have_company_reg_information"),
            formHintId = "company_reg-information",
            ariaLabelledBy = ariaLabelledBy,
            formHasErrors = formHasErrors
        )
    )

    val outsideHintCrn = awrsAnswerQuestionHelper(
        QuestionAnswerParameters(
            question = Messages(s"awrs.generic.do_${youOrThey}_have_company_reg_help_question"),
            questionId = "crn-HelpLink",
            wrapperClass = "panel-indent",
            answer = Html(Messages(s"awrs.generic.do_${youOrThey}_have_company_reg_help_text","<br><br>"))
        )
    )

    val outsideHintCrnAndDate = awrsAnswerQuestionHelper(
        QuestionAnswerParameters(
            question = iDoNotKnowCRNHintQuestion,
            questionId = "crn-HelpLink",
            wrapperClass = "panel-indent",
            answer = iDoNotKnowCRNHintAnswer
        )
    )

    val outsideHint = crnAndDate match {
        case true => outsideHintCrnAndDate
        case _ => outsideHintCrn
    }

    withQuestion match {
        case true => Seq(mainInput, isDateField(withQuestion))
        case false => Seq(mainInput, isDateField(withQuestion), outsideHint)
    }
}

@withQuestion(questionField : Field) = {
    @awrsInputTypeRadioGroup(
        InputTypeRadioGroupParams(
            questionField,
            Seq("Yes" -> Messages("awrs.generic.yes"),
                "No" -> Messages("awrs.generic.no")),
            fieldSetAttributes = "id="+questionField.name+"_field",
            legend = Messages(s"awrs.generic.do_${youOrThey}_have_company_reg"),
            legendId = questionField.name+"-legend",
            fieldSetClass = "inline",
            fieldSetQuestion = Messages("awrs.generic.do_${youOrThey}_have_company_reg_help_question"),
            fieldSetQuestionAnswer = Html(Messages("awrs.generic.do_${youOrThey}_have_company_reg_help_text","<br><br>")),
            fieldSetQuestionId = "crn-HelpLink",
            fieldSetQuestionWrapperClass = "panel-indent"
        )
    )
    <div id="@questionField.name-yes-content">
        @core(withQuestion = true)
    </div>
}

@withoutQuestion = {
    @core(withQuestion = false)
}

<div class="form-group">
    @someRadioField match {
        case Some(radioField) => {@withQuestion(radioField)}
        case _ => {@withoutQuestion}
    }
</div>
