@import services.JourneyConstants
@import views.view_application.helpers._
@import views.view_application.helpers.SubViewTemplateHelper._

@(businessType: Option[String], sectionName: Option[String])(implicit viewApplicationType: ViewApplicationType = LinearViewMode)
@{
    (isEditMode, isOneViewMode, sectionName) match {
        case (_, false, Some(secName)) => {
            <span id="progress-text" class="pre-heading" aria-hidden="true">{JourneyConstants.getJourneyProgress(businessType, secName)}</span>
            <span id="progress-section" class="visuallyhidden" aria-hidden="true">{JourneyConstants.getSectionProgress(businessType, secName)}.</span>
        }
        case (_ , _, _) =>
    }
}