@(text_1: String, text_2: String, submissionOrResubmissionDate: Option[String] = None)(implicit request: Request[AnyRef], messages: Messages )

@import views.html.helpers._

<div class="alert-complete" role="alert">
    <h1 id="confirmation">
        <div class="heading-large">
            <img height="24" width="24" class="inline" aria-hidden="true" src="/alcohol-wholesale-scheme/assets/images/complete.png" alt="">
            <div class="visuallyhidden">Application completed.</div>
            @Messages(text_1) @request.session.get("businessName").getOrElse("")<br/>
        </div>
        <div class="confirmation-description">@Messages(text_2)
        @if(submissionOrResubmissionDate.isDefined){<br/>@submissionOrResubmissionDate}
        </div>
    </h1>
</div>
