@*
    This helper is designed to be used for the main customer journey pages
    if the journey is linear then the back button will always call ViewApplicationController.backFrom
    if the journey is in edit mode then the back button will always call ViewApplicationController.viewSection
*@
@import views.html.helpers._
@import views.view_application.helpers.SubViewTemplateHelper._
@import views.view_application.helpers.ViewApplicationType

@(params: SubmitAndNavLinkParams)(implicit viewApplicationType: ViewApplicationType, messages : Messages)

@awrsSubmitButton(params.submitText)(id = params.submitId, classAttr = params.submitClass)
@isEditMode() match {
    case false =>{
        <div class = "form-group">@returnToIndex()</div>
    }
    case true =>{}
}
