@import views.html.view_application.helpers._
@import views.view_application.ViewApplicationHelper._

@(isSectionEdit: Boolean)(position: String, href: String, message: String)(implicit messages:Messages)
@isSectionEdit match {
    case true => {
        @table_row(
            link(
                href,
                Messages("awrs.view_application.add_another", message),
                "link",
                "add-link-" + position
            ),
            NoneBreakingSpace
        )(cssClass = "record-add")
    }
    case false => {}
}