@import utils.CountryCodes._
@import views.view_application.ViewApplicationHelper._
@import views.view_application.helpers.ViewApplicationType
@import views.view_application.helpers.EditSectionOnlyMode

@(legend: String, someAddress: Option[Address], links: Option[List[String]] = None)(implicit cssClass: Option[String] = None, someId: Option[Int] = None, viewApplicationType: ViewApplicationType = EditSectionOnlyMode)

@someAddress match {
    case Some(address) => {
        @table_row(
            legend,
            address.addressLine1,
            address.addressLine2,
            address.addressLine3,
            address.addressLine4,
            address.postcode,
            getCountry(address.addressCountryCode.fold("")(x => x))
        )(someId = someId, links = links, cssClass = cssClass)
    }
    case _ => {}
}
