@(legend: String, someBCDetails: Option[models.BusinessCustomerDetails])(implicit messages : Messages)
@import views.view_application.ViewApplicationHelper._

@someBCDetails match {
    case Some(bcDetails) => {
        @table_row(
            legend,
            bcDetails.businessAddress.line_1,
            bcDetails.businessAddress.line_2,
            bcDetails.businessAddress.line_3,
            bcDetails.businessAddress.line_4,
            bcDetails.businessAddress.postcode
        )
    }
    case _ => {}
}
