.panel-size{
font-size: 24px;
}

#changes-banner {
    margin: 0;
    padding: 0.89474em 0 0.78947em 0;
    max-width: 952px;
}

#changes-banner.banner-complete {
    border-left: 8px solid #F47738 ;
    background-color: #FCDDCD;
}

#changes-banner.banner-incomplete {
    border-left: 8px solid #B10E1E;
    background-color: #ECC3C7;
}

#postcode-lookup-button-0, #postcode-lookup-button-1, #postcode-lookup-button-2 {
  top: 20px;
  display: block;
  max-width: 15ex;
  margin-bottom: 10px
}

.address-container .font-small {
    display: none;
}

.inline .form-field {
    margin-bottom: 0;
}

.postcode-lookup:hover, .postcode-lookup:focus, .postcode-lookup-color-change {
    top: 20px;
    background-color: #00823b;
    box-shadow: 0 2px 0 #003518;
    color: #fff;
}

.loading {
    display: none;
    margin-top: 30px;
    padding: 5px 0 10px 39px;
    background: url("/alcohol-wholesale-scheme/assets/images/loading.gif") no-repeat;
}

table.view-application td {
    vertical-align: top;
    width: 40%;
    position: relative;
}

table.view-application td:last-child {
    padding-right: 0;
}

table.view-application tr.record-header td {
    font-weight: 700;
}

tr.record-header td.row-data {
    text-align: right;
}

table.view-application tr.record-header td:last-child p, .links p {
    margin: 0 0 0 1em;
    display: inline;
}

table.view-application tr.record-spacer td, .record-add td {
    border-bottom: 0px;
    padding-bottom: 1em;
}

.record-add td a {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
}

.view-application-section h2, .record-add td a {
    position: relative;
    float: left;
}

a.edit-section, a.back-to-top-link {
    position: relative;
    float: right;
    font-weight: bold;
    font-size: 20px;
    font-family: "GDS Transport",arial,sans-serif;
}

a.edit-link {
    margin-right: 1em;
}

.summary, a, .link-style, .button--link-style {
    color: #005EA5;
}

a:visited, .link-style:visited, .button--link-style:visited {
    color: #4C2C92;
}

.summary {
    display: block;
    clear: both;
}

.view-application-section a {
    margin-top: 1.04167em;
}

.hide {
    display: none;
}

#print {
    width: 0;
}

.edit-link a, tr.record-header td .edit-link {
    margin: 0 auto;
}

#headerType {float:left; width:80%;}
#headerLink {float:left; width:20%;}

/* end one view */
.validation-summary-message a, .validation-message a, p.field-error {
    color: #d4351c;
    font-weight: 700;
    font-size: 19px;
}

.form-field--error .form-control {
    border: 4px solid #d4351c;
}

.panel-indent .form-control {
   width: 100%;
}


.form-field--error {
    border-left: 5px solid #d4351c;
    margin: 0 0 0.75em;
    padding-bottom: 0;
    padding-top: 0;
    padding: 20px 15px 15px;
}

.manual-address {
    clear: both;
}

@media screen {
    .screen-hidden  {
        display: none !important;
    }
}

@media print {
    .print-hidden, .header-wrapper, .service-info, .report-error  {
        display: none !important;
    }
}

@media screen {
    .print-only {
        display: none;
    }
}

.print-link {
    text-align: left;
    margin: 2em 0 0 0;
    font-size: 20px;
    font-family: "GDS Transport",arial,sans-serif;
}
.link {
    font-size: 20px;
    font-family: "GDS Transport",arial,sans-serif;
}
.font-banner{
    font-size: 19px;
    margin-left: 15px;
    margin-bottom: 0px;
}

@media (min-width: 641px) {
    .appstatus-steps li {
        display: inline-block;
        width: 30%;
        margin-right: 4%;
    }

    .appstatus-steps li:last-child {
        margin-right: 0;
    }
}

@media (max-width: 755px) {
    .appstatus-steps li {
        display: inline;
    }
}

@media (max-width: 640px) {
    #application-status-container {
        margin: 0;
    }

    .appstatus-steps {
        width: 100%;
        display: inline-block;
    }

    .appstatus-steps li {
        display: inline;
        margin-left: 0;
        width: 100%;
    }

    .postcode-lookup {
        margin: 15px 10px 0 0;
    }

    .form-field--error {
        padding: 0 0 0 1em;
    }

    .form-field--error label.block-label {
        margin-right: 15px;
    }

    #errors ul li {
        margin-left: 0;
    }

    .with-lookup {
        width: 100%;
    }

    .form-field--error input[type="text"] {
        width: 96%;
    }
}

.div-left {
    display:inline-block;
    float: left;
}

.div-right {
    display:inline-block;
    float: right;
}

#ConfirmationNoteHeadingText.govuk-heading-m {padding-top: 1.5em;}

#personOrCompany_field {margin-bottom:15px;}

.overseas-alcohol-suppliers, .alcoholSupplierName {margin-bottom:15px;}

.awrs-status {
    width: 18%;
}

.awrs-status span {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: block;
    font-size: 0.7em;
    font-weight: 700;
    padding: 0px 10px;
    position: relative;
    top: -1px;
    text-align: center;
    width: 90px;
    margin-right: 20px;
}

.incomplete {
    border-color: #B10E1E;
    color: #B10E1E;
}

.complete {
    border-color: #006435;
    color: #006435;
}

.not-started {
    border-color: #6F777B;
    color: #6F777B;
}

.edited {
    border-color: #006435;
    color: #006435;
}

.ui-autocomplete-input {
    position: relative;
    display: block;
}

.banner {
    padding: 10px 0 10px 13px;
    background-color: #f5f5f5;
    margin-bottom: 30px;
}

#detailed-information {
    padding: 0.2631578947em 0 10px;
}

#confirmation-page-finish {
    margin-top: 30px;
}

/*= added for application status page */

.appstatus-steps {
    list-style-type: none;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    display: inline-block;
    padding-left: 0%;
}

.appstatus-steps .appstatus-processing {
    color: #fff;
}

.appstatus-steps .appstatus-complete {
    border-color: #fff;
    border-bottom-width: 6px;
    color: #fff;
    padding-bottom: 7px;
}

.appstatus-steps {
    margin-bottom: 1.05263em;
}

.appstatus-steps li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.appstatus-steps span {
    border-bottom: 3px solid;
    display: block;
    font-weight: bold;
    padding: 10px 26px 10px 0;
    vertical-align: middle;
}

.appstatus-steps .appstatus-complete {
    border-color: #fff;
    border-bottom-width: 6px;
    color: #fff;
    padding-bottom: 7px;
}

.appstatus-steps span img {
    float: right;
    height: 22px;
    margin-left: 5px;
    vertical-align: text-top;
    width: 22px;
}

.alert {
    clear: both;
    border-left-width: 0.15789em;
    border-left-style: solid;
    margin: 15px 0 1.05263em 0;
    padding: 0.89474em 0.78947em;
}

.alert .alert__message {
   margin: auto;
}

.alert--info.alert--info__light {
    background-color: #f8f8f8;
    border-color: #bfc1c3;
}

@media (min-width: 641px) {
    .lede {
        font-size: 24px;
        line-height: 1.25;
    }
}

#additional-premises {
    clear: both;
}

@media (min-width: 769px) {
  #global-header .header-wrapper .header-proposition .menu.js-hidden {
    display: none !important;
  }
}

#additional-premises table.view-application tr.short-row-title td.row-title {
   width:  5%;
}

table td.row-title {
    font-weight: 700;
    font-family: "GDS Transport",arial,sans-serif;
}

#add-link-top {margin-bottom: 1.57895em;}

#add-link-top, #add-link-bottom {
    font-weight: 500;
}

.add-link-top {clear:both; margin-bottom:0.5em;}
.radioSetQuestion{float:left; clear:both;}

hr {
    clear: both;
}

p.print-heading {font-weight:700;}
#progress-text {margin-top: 1em;}

.ui-front {
    z-index: 100;
}

html.noScroll {
    overflow: hidden;
}

.ui-dialog-titlebar-close{
    display: none;
}

/* Modal Styles */

#additional-premises > p, #suppliers > p, #business_directors-subtext  {
    clear: both;
}

.dropdown-menu .block-label {width:100%;box-sizing: border-box;}

details {display: block;}
.summary {display: list-item;}

[role="link"].link-style {
    text-decoration: none;
    font-family: "GDS Transport",arial,sans-serif;
    cursor:pointer;
    font-size: 19px;}
[role="link"].link-style:hover {
    text-decoration: underline;
    font-family: "GDS Transport",arial,sans-serif;
    cursor:pointer;
    font-size: 19px;}
.postcode-lookup-results {margin-top: 1em;}

.page-header .heading-secondary {
    display: table-header-group;
}

#businessNameChangeConfirmation-bullets {margin-bottom:1.5em;}


#applicationInfo {
    margin: 50px 0 40px;
}

.text-align-right {
    text-align: right;
}

@media (min-width: 769px) {
    .govuk-summary-list__key {
        width: 50%;
    }
}

.govuk-summary-list__actions a.govuk-\!-padding-left-9 {
    padding-left: 0!important;
}

@media (min-width: 769px) {
    .govuk-summary-list__actions a.govuk-\!-padding-left-9 {
        padding-left: 40px!important;
    }
}

@media (min-width: 769px) {
    .key-width {
        width: 20%;
    }
}

.three-column.premises .govuk-summary-list__key {
    width: 5%;
}

.three-column.premises .govuk-summary-list__actions {
    width: 35%;
    text-align: left;
}

.three-column.premises:only-of-type .govuk-summary-list__row {
    border-bottom: 0;
}
