@(resubmissionDate: String, isNewBusiness : Boolean, printFriendly: Boolean = false)(implicit request: Request[AnyContent],  messages: Messages )
@import play.twirl.api.Html
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.helpers._
@import models.FormBundleStatus._

@awrsRef = @{sessionUtil(request).getSessionAwrsRefNo.fold("")(x => x)}
@pageScripts = {<script type="text/javascript" src='@routes.Assets.at("javascripts/awrs.js")'></script>}

@govWrapper = {
    @includes.awrs_main(title = Messages("awrs.confirmation.title"), userLoggedIn = true){
        <div class="grid">
            <div class="grid grid-2-3">
                @confirmationHelper(
                    "awrs.update.confirmation.description",
                    "awrs.update.confirmation.description_1",
                    Some(resubmissionDate)
                )
                <h2 class="print-heading heading-small">@Messages("awrs.confirmation.prompt_print_heading")</h2>
                <div class="print-hidden">
                    <a id="print-confirmation" href="javascript:window.print();" class="print-link print-hidden">@Messages("awrs.generic.print_confirmation")</a>&nbsp;or&nbsp;<a id="print-application" class="link print-hidden"
                       href="@routes.ViewApplicationController.show(printFriendly = false)">
                        @Messages("awrs.generic.application")
                    </a>
                </div>
                <hr aria-hidden="true">
                @list
                <p id="detailed-information">@Html(Messages("awrs.confirmation.detailed_information","<a href='https://www.gov.uk/guidance/the-alcohol-wholesaler-registration-scheme-awrs'>","</a>"))</p>
                <p><a id="inform-us-link" class="print-hidden element-inline" href="https://www.gov.uk/government/publications/excise-notice-2002-alcohol-wholesaler-registration-scheme/excise-notice-2002-alcohol-wholesaler-registration-scheme#approval-details-change">@Messages("awrs.index_page.changes.answer.para_3_link")</a><div class="screen-hidden element-inline">@Messages("awrs.index_page.changes.answer.para_3_link")</div>&nbsp;@Messages("awrs.index_page.changes.answer.para_3")
                <div class="form-group">
                    <a id="confirmation-page-finish" class="button print-hidden" role="button" href="@routes.ApplicationController.logout">@Messages("awrs.confirmation.finish")</a>
                </div>

            </div>
        </div>
    }
}
@list = {
    <h2 class="heading-medium" id="ConfirmationNoteHeadingText">@Messages("awrs.confirmation.information")</h2>
    <ul id="application-confirmation-list" class="list list-bullet">
        @*  In the current setting, information_what_next_0 is a message key reserved for:
        whether they are allowed to trade whilst their amendments are being reviewed.
        *@
        @request.getSessionStatus match {
            case Some(Pending) => {
                <li id="confirmationNoteLine0aText">@Messages("awrs.update.confirmation.pending.information_what_next_0")</li>
                <li id="confirmationNoteLine1Text">@Messages("awrs.update.confirmation.pending.information_what_next_1", awrsRef)</li>
            }
            case _ => {
                <li id="confirmationNoteLine0Text">@Messages("awrs.update.confirmation.information_what_next_0", awrsRef)</li>
            }
        }
        <li id="confirmationNoteLine2Text">@Messages("awrs.update.confirmation.information_what_next_2")</li>
    </ul>
}

@content = {
    @confirmationHelper(
        "awrs.update.confirmation.description",
        "awrs.update.confirmation.description_1",
        Some(resubmissionDate)
    )
    @awrsPrintLink("data-journey-click= print-click:Confirmation:Print")
    @list
    @backLink()
}
@printFriendly match {
    case true => {@awrsPrintFriendlyWrapper(content)}
    case false => {@govWrapper}
}