@import views.helpers.InputTypeRadioGroupParams
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import views.helpers._
@import controllers.auth.ExternalUrls
@import utils.AwrsFieldConfig
@import play.api.i18n.Messages.Implicits._
@import play.api.Play.current

@(surveyForm: Form[models.Survey])(implicit request: Request[_])
@includes.awrs_main(title = Messages("awrs.survey.title"), signOutToSurvey = false, userLoggedIn = true) {
    @errorSummaryTemplate(surveyForm)
    <div class="grid">
        <div class="grid-2-3">
            <h1 id="survey-title" class="heading-xlarge">@Messages("awrs.survey.heading")</h1>
            <p>@Messages("awrs.survey.intro.instructions.line1")</p>
            <p>@Messages("awrs.survey.intro.instructions.line2")</p>
            <div class="form-group">
                <a href="@{
                    ExternalUrls.signOut
                }" class="button" role="button" id="no-thanks-button">@Messages("awrs.survey.optOut")</a>
            </div>
            <div class="logout-questionnaire">
                <h2 class="heading-medium">@Messages("awrs.survey.subheading")</h2>
                @form(action = controllers.routes.SurveyController.submitSurvey) {
                    @awrsInputTypeRadioGroup(
                        InputTypeRadioGroupParams(
                            surveyForm("visitReason"),
                            Seq("Start" -> Messages("awrs.survey.answers.visit_reason.start_application"),
                                "View" -> Messages("awrs.survey.answers.visit_reason.view_application"),
                                "Amend" -> Messages("awrs.survey.answers.visit_reason.amend_application"),
                                "Check Status" -> Messages("awrs.survey.answers.visit_reason.check_progress"),
                                "Delete" -> Messages("awrs.survey.answers.visit_reason.delete_application")),
                            legend = Messages("awrs.survey.questions.visit_reason"),
                            legendId = "visitReason-legend",
                            fieldSetClass = "form-group",
                            fieldSetAttributes = "id=visitReason_field"
                        )
                    )
                    @awrsInputTypeRadioGroup(
                        InputTypeRadioGroupParams(
                            surveyForm("easeOfAccess"),
                            Seq("very easy" -> Messages("awrs.survey.answers.very_easy"),
                                "easy" -> Messages("awrs.survey.answers.easy"),
                                "no opinion" -> Messages("awrs.survey.answers.no_opinion"),
                                "difficult" -> Messages("awrs.survey.answers.difficult"),
                                "very difficult" -> Messages("awrs.survey.answers.very_difficult")),
                            legend = Messages("awrs.survey.questions.ease_of_access"),
                            legendId = "easeOfAccess-legend",
                            fieldSetClass = "form-group",
                            fieldSetAttributes = "id=easeOfAccess_field"
                        )
                    )
                    @awrsInputTypeRadioGroup(
                        InputTypeRadioGroupParams(
                            surveyForm("easeOfUse"),
                            Seq(
                                "very easy" -> Messages("awrs.survey.answers.very_easy"),
                                "easy" -> Messages("awrs.survey.answers.easy"),
                                "no opinion" -> Messages("awrs.survey.answers.no_opinion"),
                                "difficult" -> Messages("awrs.survey.answers.difficult"),
                                "very difficult" -> Messages("awrs.survey.answers.very_difficult")
                            ),
                            legend = Messages("awrs.survey.questions.ease_of_use"),
                            legendId = "easeOfUse-legend",
                            fieldSetClass = "form-group",
                            fieldSetAttributes = "id=easeOfUse_field"
                        )
                    )
                    @awrsInputTypeRadioGroup(
                        InputTypeRadioGroupParams(
                            surveyForm("overall"),
                            Seq(
                                "very satisfied" -> Messages("awrs.survey.answers.very_satisfied"),
                                "satisfied" -> Messages("awrs.survey.answers.satisfied"),
                                "neutral" -> Messages("awrs.survey.answers.neutral"),
                                "dissatisfied" -> Messages("awrs.survey.answers.dissatisfied"),
                                "very dissatisfied" -> Messages("awrs.survey.answers.very_dissatisfied")
                            ),
                            legend = Messages("awrs.survey.questions.overall"),
                            legendId = "overall-legend",
                            fieldSetClass = "form-group",
                            fieldSetAttributes = "id=overall_field"
                        )
                    )
                    @awrsInputTypeRadioGroup(
                        InputTypeRadioGroupParams(
                            surveyForm("helpNeeded"),
                            Seq(
                                "no" -> Messages("awrs.survey.answers.help_needed_answer_1"),
                                "yes - language issues" -> Messages("awrs.survey.answers.help_needed_answer_2"),
                                "yes - no phone/paper" -> Messages("awrs.survey.answers.help_needed_answer_3"),
                                "yes - something went wrong" -> Messages("awrs.survey.answers.help_needed_answer_4"),
                                "yes - info for the application" -> Messages("awrs.survey.answers.help_needed_answer_5"),
                                "yes - other" -> Messages("awrs.survey.answers.help_needed_answer_6")
                            ),
                            legend = Messages("awrs.survey.questions.help_needed"),
                            labelClass = "block-label",
                            legendId = "helpNeeded-legend",
                            fieldSetClass = "form-group",
                            fieldSetAttributes = "id=help-needed_field"
                        )
                    )
                    @awrsInputTypeRadioGroup(
                        InputTypeRadioGroupParams(
                            surveyForm("howDidYouFindOut"),
                            Seq(
                                Messages("awrs.survey.answers.find_out_1") -> Messages("awrs.survey.answers.find_out_1"),
                                Messages("awrs.survey.answers.find_out_2") -> Messages("awrs.survey.answers.find_out_2"),
                                Messages("awrs.survey.answers.find_out_3") -> Messages("awrs.survey.answers.find_out_3"),
                                Messages("awrs.survey.answers.find_out_4") -> Messages("awrs.survey.answers.find_out_4"),
                                Messages("awrs.survey.answers.find_out_5") -> Messages("awrs.survey.answers.find_out_5"),
                                Messages("awrs.survey.answers.find_out_6") -> Messages("awrs.survey.answers.find_out_6"),
                                Messages("awrs.survey.answers.find_out_7") -> Messages("awrs.survey.answers.find_out_7"),
                                Messages("awrs.survey.answers.find_out_8") -> Messages("awrs.survey.answers.find_out_8")

                            ),
                            legend = Messages("awrs.survey.questions.find_out"),
                            legendId = "howDidYouFindOut-legend",
                            labelClass = "block-label",
                            fieldSetClass = "form-group",
                            fieldSetAttributes = "id=find-out_field"
                        )
                    )

                    @awrsTextBox(surveyForm("comments"),
                        '_label -> Html(Messages("awrs.survey.questions.improve")),
                        '_labelClass -> "heading-small",
                        '_id -> "comments",
                        '_maxLength -> "2500",
                        '_showConstraints -> false,
                        '_legendHidden -> true,
                        '_legend -> Html(Messages("awrs.survey.questions.improve"))
                    )

                    <h2 class="heading-small">@Messages("awrs.survey.questions.contactable")</h2>
                    <div class="form-group">

                        @awrsInputTypeText(
                            InputTypeTextParams(
                                surveyForm("contactFullName"),
                                inputId = "contactFullName",
                                label = Messages("awrs.generic.full_name"),
                                labelHighlight = true,
                                maxLength = AwrsFieldConfig.frontendDefaultLen.toString,
                                required = true
                            )
                        )
                        @awrsInputTypeText(
                            InputTypeTextParams(
                                surveyForm("contactEmail"),
                                inputId = "contactEmail",
                                label = Messages("awrs.generic.email"),
                                labelHighlight = true,
                                maxLength = AwrsFieldConfig.emailLen.toString,
                                required = true
                            )
                        )
                       <span class="heading-small"> or </span>
                        @awrsInputTypeText(
                            InputTypeTextParams(
                                surveyForm("contactTelephone"),
                                inputId = "contactTelephone",
                                label = Messages("awrs.generic.telephone"),
                                labelHighlight = true,
                                maxLength = AwrsFieldConfig.telephoneLen.toString,
                                required = true
                            )
                        )

                    </div>
                    @awrsSubmitButton(Messages("awrs.survey.submit_and_sign_out"))(id = "submit-survey-button", classAttr = "button")
                }
            </div>
        </div>
    </div>
}
