@(applicationDeclarationForm: Form[models.ApplicationDeclaration], isEnrolledApplicant: Boolean)(implicit request: Request[_],  messages: Messages)

@import views.helpers.InputTypeTextParams
@import views.html.helpers._
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import forms.AwrsFormFields._
@import utils.AwrsFieldConfig

@declarationTxt = @{
    isEnrolledApplicant match {
        case true => Messages("awrs.application_declaration.declaration_statement.amend", request.session.get("businessName").getOrElse("")).toString
        case false => Messages("awrs.application_declaration.declaration_statement", request.session.get("businessName").getOrElse("")).toString
    }
}

@includes.awrs_main(title = Messages("awrs.generic.tab.title", Messages("awrs.application_declaration.heading")), userLoggedIn = true){

@errorSummaryTemplate(applicationDeclarationForm)
<div class="grid">
    <div class="grid grid-2-3">
        @backLink(backUrl = controllers.routes.IndexController.showIndex().url)
        <h1 id="application-declaration-heading" class="heading-xlarge">@Html(Messages("awrs.application_declaration.heading"))</h1>
        <p class="lede">@Messages("awrs.application_declaration.lede")</p>
        @form(action = controllers.routes.ApplicationDeclarationController.sendApplication){
            @awrsInputTypeText(
                InputTypeTextParams(
                    applicationDeclarationForm("declarationName"),
                    label = Messages("awrs.generic.full_name"),
                    inputId = "declarationName",
                    maxLength = AwrsFieldConfig.applicationDeclarationNameLen.toString,
                    required = true
                )
            )
            @awrsInputTypeText(
                InputTypeTextParams(
                    applicationDeclarationForm("declarationRole"),
                    label = Messages("awrs.application_declaration.declaration_role"),
                    inputId = "declarationRole",
                    maxLength = AwrsFieldConfig.applicationDeclarationRoleLen.toString,
                    required = true
                )
            )

            <input type="hidden" name="confirmation" value="true">

            @awrsWarningHelper(declarationTxt = declarationTxt, id = "confirmation-text-disclaimer")

            @awrsSubmitButton(Messages("awrs.application_declaration.confirmation_and_send_application"))(id = "sendApplicationNowButton", classAttr = "button")
            @returnToIndex()
        }
    </div>
</div>
}

