@(groupDeclarationForm: Form[models.GroupDeclaration])(implicit request: Request[_])

@import views.html.helpers._
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.helpers._
@import forms.AwrsFormFields._
@import play.api.i18n.Messages.Implicits._
@import play.api.Play.current


@implicitFormInstance = @{
    Some(groupDeclarationForm)
}

@includes.awrs_main(title = Messages("awrs.group_declaration.title"), userLoggedIn = true) {

    @errorSummaryTemplate(groupDeclarationForm)
    <div class="grid">
        <div class="grid grid-2-3">
            <h1 id="group-declaration-heading" class="heading-xlarge">@Html(Messages("awrs.group_declaration.heading"))</h1>

            <div id="declaration-group">
                <div id="lead-paragraph">@Html(Messages("awrs.group_declaration.declaration_statement_lead"))</div>
                <ul style="list-style-type: disc;
                    padding-left: 1em;">
                    <li id="bullet-1">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_1"))</li>
                    <li id="bullet-2">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_2"))</li>
                    <li id="bullet-3">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_3"))</li>
                    <li id="bullet-4">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_4"))</li>
                    <li id="bullet-5">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_5"))</li>
                    <li id="bullet-6">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_6"))</li>
                    <li id="bullet-7">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_7"))</li>
                    <li id="bullet-8">@Html(Messages("awrs.group_declaration.declaration_statement_bullet_8"))</li>
                </ul>
            </div>

            @form(action = controllers.routes.GroupDeclarationController.sendConfirmation) {

                <input type="hidden" name="groupRepConfirmation" value="true">

                @awrsWarningHelper(declarationTxt = Messages("awrs.group_declaration.declaration_statement_confirmation"), id = "confirmation-text-disclaimer")

                @awrsSubmitButton(Messages("awrs.confirmation.button"))(id = "sendGroupNowButton", classAttr = "button")
            }
        </div>
    </div>
}

