@(deRegistrationReason: Form[models.DeRegistrationReason])(implicit request: Request[AnyRef], messages: Messages )
@import views.helpers.InputTypeRadioGroupParams
@import views.helpers.InputTypeTextParams
@import forms.DeRegistrationReasonForm._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.helpers.DeRegistrationHelper._
@import views.html.helpers._
@import utils.AwrsFieldConfig

@includes.awrs_main(title = Messages("awrs.de_registration_reason.page_title"), userLoggedIn = true) {
<div class="grid">
    <div class="grid grid-2-3">
        @backLink(backUrl = controllers.routes.IndexController.showIndex.toString)
        @errorSummaryTemplate(deRegistrationReason)
        <h1 id="de_registration-heading" class="heading-xlarge">@Messages("awrs.de_registration_reason.page_heading")</h1>
        @form(action = controllers.routes.DeRegistrationController.submitReason) {
            <div class="form-group">
                @awrsInputTypeRadioGroup(
                    InputTypeRadioGroupParams(
                        deRegistrationReason(deRegistrationReasonId),
                        Seq(enumPair("cases_to_be_registerable_for_the_scheme"),
                            enumPair("ceases_to_trade_as_an_alcohol_wholesaler"),
                            enumPair("joining_a_group_to_register_for_awrs"),
                            enumPair("joining_a_partnership_to_register_for_awrs"),
                            enumPair("group_disbanded"),
                            enumPair("partnership_disbanded"),
                            enumPair("other")),
                        legend = Messages("awrs.de_registration_reason.page_heading"),
                        legendId = "deRegistrationReason-legend",
                        legendClass = "visuallyhidden",
                        fieldSetAttributes = "id=deRegistrationReason_field"
                    )
                )
                <div id="@Messages("awrs.de_registration.reason.other.schema_enum").toLowerCase.replace(" ","_")">
                    @awrsInputTypeText(
                        InputTypeTextParams(
                            deRegistrationReason(deRegReasonOtherId),
                            inputId = "deRegistrationReason-other",
                            label = Messages("awrs.de_registration_reason.other_input_label"),
                            labelHighlight = true,
                            maxLength = AwrsFieldConfig.frontendDefaultLen.toString,
                            wrapperClass = "panel-indent",
                            required = true
                        )
                    )
                </div>
            </div>
            @awrsSubmitButton(Messages("awrs.generic.continue"))(id = "save-and-continue", classAttr = "button")
        }
    </div>
</div>
}
